# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE/compiler output directories and Java bytecode
bin/
*.class

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore IntelliJ IDEA project files
.idea/
*.iml
